@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$background: #22272d;
$border: #444c56;
$text: #adbac7;

$key: #4e5257;

$absent: #37393d;
$present: #b49f3a;
$correct: #538d4e;
